<div class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">
            <br/><br/>
                <div class="" >
                    &copy;  | Design by: 2019 WKW Internet Programming Group II
                </div>
            </div>
	</div>