  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />


<nav class="navbar navbar-expand-lg bg-primary">
              <div class="container">
                <div class="navbar-translate">
                  <div class="navbar-brand"> <b>Ideas Sparks </b></div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav">
                  	<li class="nav-item">
                      <a href="share.jsp" class="nav-link">Post Idea</a>
                    </li>
                    <li class="nav-item">
                      <a href="index.jsp" class="nav-link">Browse Ideas</a>
                    </li>
                    <li class="nav-item">
                      <a href="searchProfile.jsp" class="nav-link">Search People</a>
                    </li>
                    <li class="nav-item">
                      <a href="editProfile.jsp" class="nav-link">Change My Profile</a>
                    </li>
                    
                    <li class="nav-item">
                      <a href="login.jsp" class="nav-link">Log In</a>
                    </li>
                    
                    <li class="nav-item">
                      <a href="logout.jsp" class="nav-link">Log Out</a>
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
            </nav>